.containerorder {
  padding: 20px;
  background-color:rgba(73, 73, 73, 0.4);
}

.cart {
  margin-top: 20px;
  background-color:rgba(248, 248, 248, 0.6) ;
  padding: 30px;
  border-radius: 5px;
  width: 1000px;

}

.cart-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; 
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item h4 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.cart-item p {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
.cart h3 {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}



.cart-item input {
  width: 50px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-item button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

#b3 {
  background-color: #e42121;
  font-size: 20px;
  color: #ffffff;
  border-radius: 5px;
}
.terms-checkbox .ant-checkbox-wrapper {
  font-size: 20px;
}

.terms-checkbox .ant-checkbox-inner {
  width: 25px;
  height: 25px;
}



.terms-checkbox .ant-checkbox-inner::after {
  top: 50%;
  left: 22%;
  width: 6px;         
  height: 12px;       
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: center;
}


#b3:hover {
  background-color: #c41818;
}

.pay-button {
  margin-top: 20px;
  background-color: #ff9900;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 25px;
}

.pay-button:hover {
  background-color: #e68a00;
}

.order-history-button {
  margin-top: 10px;
  background-color: #01850c;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

.order-history-button:hover {
  background-color: #016a0a;
}





/* Responsive Design */
@media (max-width: 600px) {
  .cart-item {
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      text-align: center;
  }

  .cart-item input {
      width: 40px;
  }
}
